
/* Estos son parámetros básicos de CSS! */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

/* Estos son los parámetros del rectángulo blanquito de arriba. No del texto, solo la parte blanca (y su sombra chiquita) */

header{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0px;
    background: white;
}

/* Agora sim, estas son las órdenes del texto. Si bien el color se ve abajo, acá vamos a decirle dónde se va a parar. */

nav{
    min-height: 10vh;
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Esta línea increíblemente importante es, por alguna razón que desconozco, la responsable de que los textos de la nav no estén solapados uno encima del otro. Espero algún día descifrarlo! */

nav h1,
nav ul{
    flex: 1;
}

/* Tamaño y espaciado de las palabritas de la nav! */

nav ul{
    font-size: 1.5rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

/* Solo el tamaño del "hola jeje" de la esquinita. Ahí podríamos poner "IncluyeTech" o "tech4inclusion", ni idea! */

nav h1{
    font-size: 3rem;
}

/* Para que los links no se vean azules y subrayados, ponemos esto! */

nav a,
footer a{
    text-decoration: none;
}

/* acá estoy probando algo jaja no entiendo nada */

.navText{
    color: #000000;
    transition: all 0.5s ease;
}

/* Rectángulos de colores con los textos en blanco! */

section{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section h2{
    font-size: 4rem;
    color: white;
}

section ol,
footer ol{
    font-size: 2rem;
    color: black;
}

 /* Estos van a ser los rectangulitos "blancos" donde estará nuestra información. No sé si dejarle colorcitos cálidos, como ahora, o dejarlo completamente blanco. Como uds quieran! */

 .contenido{
    background: #ffede7;
    min-height: 80vh;
    display: grid;
    justify-content: center;
    align-items: center;

}

/* Estilo de los textos dentro de los contenidos! */

div h3{
    font-size: 3.5rem;
    text-align: center;
}

div p{
    font-size: 1.5rem;
    text-align: center;
}

/* Estos son los cuadrados gigantes de colores y el footer */

.intro{
    background: #6E48AA;
}
.equipo{
    background: #0575E6;
}
.proyecto{
    background: #4c922b;
}
.ejemplos{
    background: #cea166;
}
.conclusion{
    background:#d04ed6;
}
.fin{
    background: #999999;
    text-size-adjust: 2rem;
}
.contactos{
    background: #ffdede;
    min-height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

/* Estos son los colores de los textos de énfasis de cada sección */

span{
    font-weight: bold;
}

.spanIntro{
    color: #6E48AA;
}
.spanEquipo{
    color: #0575E6;
}
.spanProyecto{
    color: #56ab2f;
}
.spanEjemplos{
    color: #cea166;
}
.spanConclusion{
    color: #d04ed6;
}
.spanContenido{
    color: #000000;
}
/* ¿Vieron el rectangulín que se mueve por la nav? Estas son las propiedades de "cómo se vé". Para las ordenes "cómo y cuando se mueve", fíjense en el archivo script.js */

.cosito{
    position: absolute;
    z-index: -2;
    background: #6E48AA;
    transform: scale(2);
    transition: all 0.5s ease;
}

/* imágenes */

img{
    align-items: center;
    width: max-content;
    height: max-content;
}

/* boton alto contraste (lo van a reconocer por la nomenclatura que es Halcón mal escrito jajs) */

#alconBox{
    background: yellow;
    display:block;
    width: 400px;
    height: 100px;
    margin: auto;
    float: left;
    align-content: center;
    justify-content: center;
}
.alconUp{
    font-size: 16px;
    font-weight: bold;   
}

.alconDown{
    font-size: 16px;
    font-weight: bold;   
}

