
/* Estos son parámetros básicos de CSS! */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

/* Estos son los parámetros del rectángulo blanquito de arriba. No del texto, solo la parte blanca (y su sombra chiquita) */

header{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0px;
    background: white;
}

/* Agora sim, estas son las órdenes del texto. Si bien el color se ve abajo, acá vamos a decirle dónde se va a parar. */

nav{
    min-height: 10vh;
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Esta línea increíblemente importante es, por alguna razón que desconozco, la responsable de que los textos de la nav no estén solapados uno encima del otro. Espero algún día descifrarlo! */

nav h1,
nav ul{
    flex: 1;
}

/* Tamaño y espaciado de las palabritas de la nav! */

nav ul{
    font-size: 1.5rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

/* Solo el tamaño del "hola jeje" de la esquinita. Ahí podríamos poner "IncluyeTech" o "tech4inclusion", ni idea! */

nav h1{
    font-size: 3rem;
}

/* Para que los links no se vean azules y subrayados, ponemos esto! */

a{
    text-decoration: none;
}

/* acá estoy probando algo jaja no entiendo nada */

.navText{
    color: #000000;
    transition: all 0.5s ease;
}

/* Rectángulos de colores con los textos en blanco! */

section{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section h2{
    font-size: 4rem;
    color: #000000;
}

section ol,
footer ol{
    font-size: 2rem;
    color: #FFFFFF;
}

 /* Estos van a ser los rectangulitos "blancos" donde estará nuestra información. No sé si dejarle colorcitos cálidos, como ahora, o dejarlo completamente blanco. Como uds quieran! */

 .contenido{
    background: #000000;
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;

}

/* Estilo de los textos dentro de los contenidos! */

div h3,
div p{
    color: #FFFFFF;
    text-align: center;
}

div h3{
    font-size: 3rem;
}

div p{
    font-size: 2rem;
}

/* Estos son los cuadrados gigantes de colores y el footer */

.intro{
    background: #6f23c7;
}
.equipo{
    background: #1475d6;
}
.proyecto{
    background: #49ad1a;
}
.ejemplos{
    background: #ca7f1c;
}
.conclusion{
    background:#f060f8;
}
.fin{
    background: #999999;
    text-size-adjust: 2rem;
}
.contactos{
    background: #ffdede;
    min-height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

/* Estos son los colores de los textos de énfasis de cada sección */

span{
    font-weight: bold;
}

.spanIntro{
    color: #6f23c7;
}
.spanEquipo{
    color: #1475d6;
}
.spanProyecto{
    color: #49ad1a;
}
.spanEjemplos{
    color: #ca7f1c;
}
.spanConclusion{
    color: #f060f8;
}


/* ¿Vieron el rectangulín que se mueve por la nav? Estas son las propiedades de "cómo se vé". Para las ordenes "cómo y cuando se mueve", fíjense en el archivo script.js */

.cosito{
    position: absolute;
    z-index: -2;
    background: #6E48AA;
    transform: scale(2);
    transition: all 0.5s ease;
}

/* imágenes! */

img{
    align-items: center;
    width: max-content;
    height: max-content;
}
